server:
  servlet:
    context-path: /
  port: 8080
spring:
  application:
    name: auth_service
  datasource:
    url: jdbc:postgresql://localhost:5433/auth-db
    username: postgres
    password: postgres
    drive-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

    